<h1><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">關於</span></span></h1>
<p><img alt="" height="960" src="/images/103686221_3098989703512846_5632385454281889237_n.jpg" width="960"/></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">倉儲:<a href="https://github.com/40823140/cd2021">https://github.com/40823140/cd2021</a></span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">YT:</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">這是</span></span><a href="https://github.com/mdecourse/cmstemplate"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">https://github.com/mdecourse/cmstemplate</span></span></a></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">目前的cmsimde在編輯器下面再添加一個csave按鈕，意即協作保存，當動態網際管理系統在多人同時維護登錄網頁內容時，編輯各頁面列表，該頁面可能已經改版，因此使用csave按鈕存檔時，會介紹當下最新的該頁面內容，並同時與編輯中的頁面內容進行合併。</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">使用csave按鈕存檔無法刪除頁面資料。</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">使用Edit All模式，無法使用csave按鈕（尚未測試）。</span></span></p>
<h1><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">stage1</span></span></h1>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">W1</span></span></h2>
<p><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">利用</span></span></span><a href="https://github.com/mdecourse/cmstemplate"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">https://github.com/mdecourse/cmstemplate</span></span></a><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"> 樣板，建立網頁</span></span></span></p>
<p><img alt="" height="96" src="/images/擷.PNG" width="429"/></p>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">W2</span></span></h2>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">經過與組員討論決定要做自動折衣板</span></span></p>
<p><a href="https://www.youtube.com/watch?v=vB0G4zdbkXg&amp;ab_channel=%E6%B0%91%E8%A6%96%E6%96%B0%E8%81%9E%E7%B6%B2FormosaTVNewsnetwork"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">https://www.youtube.com/watch?v=vB0G4zdbkXg&amp;ab_channel=%E6%B0%91%E8%A6%96%E6%96%B0%E8%81%9E%E7%B6%B2FormosaTVNewsnetwork</span></span></a></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">上網查詢資料，取決產品規格大小</span></span></p>
<p><img alt="" height="537" src="/images/擷取1.PNG" width="386"/></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">構圖</span></span></p>
<p><img alt="" height="356" src="/images/66307.jpg" width="267"/></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">運用3D繪圖軟體畫出產品</span></span></p>
<p><img alt="" height="159" src="/images/本體擷取.PNG" width="346"/></p>
<p><img alt="" height="159" src="/images/袖子擷取.PNG" width="353"/></p>
<p><img alt="" height="159" src="/images/下擺擷取.PNG" width="346"/></p>
<p><img alt="" height="159" src="/images/組合擷取.PNG" width="314"/></p>
<h3><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">利用Hamachi建立虛擬網路</span></span></h3>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">首先下載</span></span><a href="https://www.vpn.net/"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">https://www.vpn.net/</span></span></a></p>
<p><img alt="" height="165" src="/images/虛擬擷取.PNG" width="346"/></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">之後建立虛擬網路並設定密碼，</span></span><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">來達成就算在不同網域的情況下，也能夠藉由連上組長的虛擬區網來進行小組網頁編輯</span></span></span></p>
<p><span><img alt="" height="490" src="/images/你擷取.PNG" width="385"/></span></p>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">W3</span></span></h2>
<p><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">利用coppeliasim對已完成之成品進行模擬</span></span></span></p>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">W4</span></span></h2>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">報告</span></span></p>
<h1><span style="vertical-align: inherit;">stage2</span></h1>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">W5</span></span></h2>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">分組組員：</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">張欽堯</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">黃歸吉</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">林子恩</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">蕭宏翔</span></span></p>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">W6</span></span></h2>
<h3><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Heroku小組網站</span></span></span></h3>
<p><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">步驟一：</span></span></span><span> </span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">（</span></span><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">建立Heroku的帳號</span></span></span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">）展示進入</span><a href="https://heroku.com/"><span style="vertical-align: inherit;">https://heroku.com</span></a><span style="vertical-align: inherit;">，利用學校配發的@gm登記一個Heroku的帳號，關鍵在於密碼設定必須要至少8個字元，且字元中必須包含符號，英文字母和數字，並且登記後要進入@gm帳號進行確認後才能開通Heroku帳號。</span></span><span> </span><a href="https://heroku.com/"><span style="vertical-align: inherit;"></span></a><span style="vertical-align: inherit;"></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">完成帳號登記後，必須知道目前Heroku只允許免費建立五個應用程序，並且每個程序的最大容量為500MB。</span></span></p>
<p><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">步驟二：</span></span></span><span> </span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">（</span></span><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">建立Heroku的應用程序</span></span></span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">）的Heroku登入後，先以S +學號建立第一個應用程序，完成後，將可至HTTPS：//小號學號.herokuapp.com連線取得網站最初內容。</span></span></p>
<p><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">步驟三：（</span></span></span><span> </span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">下載Heroku CLI）從</span><a href="http://a.kmol.info:88/heroku.7z"><span style="vertical-align: inherit;">http://a.kmol.info:88/heroku.7z</span></a><span style="vertical-align: inherit;">下載Heroku cli程式檔案，解開至隨身碟Y：所在位置或是是Hybrid設定的位置。</span></span><span> </span><a href="http://a.kmol.info:88/heroku.7z"><span style="vertical-align: inherit;"></span></a><span> </span><span style="vertical-align: inherit;"></span></p>
<p><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">步驟四：</span></span></span><span> </span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">（</span></span><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">修改命令搜尋路徑</span></span></span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">）修改隨身系統的啟動批次檔案，讓視窗的命令視窗中可以執行heroku.exe，或者稱作“設法將heroku.exe所在目錄位置，設為視窗搜尋路徑之一”。</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">重新啟動已經完全重置heroku.exe的隨身碟start_ipv6.bat或start_ipv4.bat</span></span></p>
<p><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">步驟五：</span></span></span><span> </span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">（</span></span><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">測試Heroku的執行</span></span></span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">）測試是否能夠在修改後的命令列中執行</span><span style="vertical-align: inherit;">heroku.exe，輸入Heroku的版本若回應所使用的版本表示上述路徑設定已經成功</span><span style="vertical-align: inherit;">。</span></span></p>
<p><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">步驟六：</span></span></span><span> </span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">（</span></span><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">設定Heroku的代理主機</span></span></span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">）先前我們已經知道網路的應用包含客戶端與服務器，客戶端不同採用不同的代理設定與服務器連線，其中火狐作為WWW網路協定的客戶端，有其自己的網路代理設置，也可以直接使用操作系統的</span></span></p>
<h3><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">小組產品</span></span></span></h3>
<p><span><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">投放小組產品</span></span></span></p>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">W7</span></span></h2>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">更新小組網頁</span></span></p>
<p><img alt="" height="581" src="/images/擷取.PNG" width="620"/></p>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">W8</span></span></h2>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">更新小組網頁</span></span></p>
<p><img alt="" height="581" src="/images/擷取.PNG" width="620"/></p>
<h2><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">W9</span></span></h2>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">期中報告</span></span></p>
<h1><span style="vertical-align: inherit;">stage3</span></h1>
<h2>W10</h2>
<h3>task1</h3>
<p><span>讀取 stage3_2a.txt, 建立 Stage3 的分組倉儲, 分組網頁, 以及各組員倉儲及網頁連結</span></p>
<h3>task2</h3>
<p><img alt="" height="39" src="/images/步驟.PNG" width="620"/></p>
<p>至1網站下載，接著解壓縮，並將2.3.4檔案也放進相同資料夾(bubble)</p>
<p><img alt="" height="112" src="/images/bubble.PNG" width="620"/></p>
<p>將ttt檔丟入coppeliaSim裡進行操控</p>
<p><img alt="" height="348" src="/images/comp.PNG" width="620"/></p>
<p>將老師所提供的<span>bubbleRob_remoteAPI.py放入stage1.2的作品裡進行模擬</span></p>
<p><span><img alt="" height="715" src="/images/base.PNG" width="620"/></span></p>
<h3><span>操作影片</span></h3>
<p><span><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/UM7mLBlScJs" title="YouTube video player" width="560"></iframe></span></p>
<p><span><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/UM7mLBlScJs" title="YouTube video player" width="560"></iframe></span></p>
<h2>W11</h2>
<h3>task3</h3>
<p>每週各組按照組員順序, 於每堂課程時段, 輪流由 2-3 名學員啟動 OBS + Youtube 直播 (每週每位學員均需輪流負責直播工作項目內容), 並在開播前將直播 URL 公布於課程 gitter, 以展示該時段該組針對 stage3 分組專題工作項目的協同過程. (即每週各組於上課時段均會有四段協同設計影片分別嵌入各負責直播錄影組員的網頁與分組網頁).</p>
<p>各直播錄影時段, 各直播組員 (2-3 名) 應先規劃進行中工作項目的網際簡報資料, 並依照簡報內容逐一介紹所要展示或討論的協同設計項目.</p>
<p>當其他組別在執行 stage3 分組專題內容碰到問題時, 應按照順序採取下列步驟解決問題:</p>
<ol>
<li>利用協同直播錄影時段, 輔以網際簡報資料, 明確說明所遭遇之問題情境.</li>
<li>上述影片上傳並嵌入個人網站與分組網站後, 根據問題描述影片內容, 尋求其他組在其分段直播時段說明如何解題.</li>
</ol>
<p>各組組員於進行 stage3 分組專題期間, 均應協同負責從<span>零組件設計繪圖</span>,<span> </span><span>零件轉檔</span>, 零組件轉入<span> </span><span>CoppeliaSim 進行設定</span>,<span> </span><span>Lua 監控</span>,<span> </span><span>Python 監控</span>,<span> </span><span>直播錄影</span>, ssh 維護<span>個人網際簡報</span>, ssh 維護<span>個人網站</span>, 並協同參與維護<span>分組網站</span>等工作項目, 若過程中遭遇問題, 則根據上述步驟進行解題.</p>
<p>直播前: 準備網際投影片</p>
<p>開啟直播: 將直播投影片(即直播主題) 與直播連結登錄在<span> </span><a href="https://gitter.im/mdecourse/cd2021">https://gitter.im/mdecourse/cd2021</a></p>
<p>直播結束後: 將影片嵌入個人與分組網頁後, 連結繳交至<span> </span><a href="https://github.com/mdecourse/cd2021/discussions/24">https://github.com/mdecourse/cd2021/discussions/24</a></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/JDDd84Q_BEA" title="YouTube video player" width="560"></iframe></p>
<h2><span>W12</span></h2>
<p><span></span></p>
<h2><span>W13</span></h2>
<p><span>遠距教學</span></p>
<h2>W14</h2>
<h3>task4</h3>
<ol>
<li>自行利用 SolidWorks, Inventor, NX, Onshape 或 Solvespace 繪製機械手臂零組件後, 分別以 ASCII STL 或 Binary STL 手動轉入 Coppeliasim 建立機械手臂 .ttm 模型備用.</li>
<li>根據 CoppeliaSim 4.1.0 版 (4.2.0 無法開啟 .simplescene.xml 檔案) 中的<span> </span><a href="https://www.coppeliarobotics.com/helpFiles/en/xmlFormat.htm">XML simplescene 格式</a>, 利用 Python 程式建立所需的機械手臂 .ttm 模型備用.</li>
<li>根據 RoKiSim 中的六軸機械手臂定義, 以 Python 程式, 將既有的 Industrial Robots STL 轉為 CoppeliaSim simplexml 模型格式備用.</li>
<li>將上述完成的機械手臂模型導入場景後, 機械手臂末端利用 force sensor 接上 components/grippers/suction pad.ttm tool 後, 先完成 MTB Robot 取放 Block 範例的改寫, 再完成<span> </span><a href="https://www.fanuc.eu/it/en/robots/robot-filter-page/m-710-series/m-710ic-50">FANUC M-710iC/50</a><span> </span>機械手臂的<a href="https://www.youtube.com/watch?v=3EqzMzszMV0">圓球取放範例</a>.</li>
</ol>
<h2>W15</h2>